template_path: aurora-postgresql-db.yaml
stack_name: iatlasdb-prod
dependencies:
  - common/iatlasvpc.yaml
  - prod/iatlas-kms.yaml
stack_tags:
  Department: "CompOnc"
  Project: "iAtlas"
  OwnerEmail: "andrew.lamb@sagebase.org"
parameters:
  VpcName: iatlasvpc
  KmsKeyName: !stack_output_external iatlas-kms-prod::KmsKeyArn
  MasterUsername: !ssm /iatlas/prod/AuroraUsername
  MasterUserPassword: !ssm /iatlas/prod/AuroraPassword
  DBInstanceClass: "db.t3.large"
  DBEngineVersion: "11.7"
  DBPort: "5432"
