template_path: acm-certificate.yaml
stack_name: iatlas-api-certificate-prod
stack_tags: {{stack_group_config.stack_tags}}
dependencies:
  - prod/iatlas-api-hostedzone.yaml
parameters:
  DnsSubDomainName: {{stack_group_config.sub_domain_name}}
  DnsDomainName: {{stack_group_config.domain_name}}
