template_path: kms.yaml
stack_name: iatlas-kms-prod
stack_tags: {{stack_group_config.stack_tags}}
parameters:
  KeyAdminArns:
    - 'arn:aws:iam::386990716034:root'
    - arn:aws:iam::386990716034:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_Administrator_13f4158c711c1d66
    - !stack_output_external iatlas-prod-ci-access::ServiceRoleArn
    - !stack_output_external iatlas-collaborator-access::ServiceRoleArn
  KeyUserArns:
    - arn:aws:iam::386990716034:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_Administrator_13f4158c711c1d66
    - !stack_output_external iatlas-prod-ci-access::ServiceRoleArn
    - !stack_output_external iatlas-collaborator-access::ServiceRoleArn
