template_path: aurora-postgresql-db.yaml
stack_name: iatlasdb-prod
dependencies:
  - common/iatlasvpc.yaml
  - prod/iatlas-kms.yaml
stack_tags: {{stack_group_config.stack_tags}}
parameters:
  VpcName: iatlasvpc
  KmsKey: !stack_output_external iatlas-kms-prod::KmsKey
  DbSecretPrefix: 'prod_'
  DbCredsName: 'iatlas_db_creds_encrypted_prod'
  DBInstanceClass: 'db.t3.large'
  DBEngineVersion: '11.7'
  DBPort: '5432'
