template_path: gitlab-runner.yaml
stack_name: iatlas-gitlab-runner-prod
dependencies:
  - common/iatlasvpc.yaml
  - prod/iatlas-db.yaml
  - prod/iatlas-kms.yaml
stack_tags: {{stack_group_config.stack_tags}}
parameters:
  InstanceType: 't3a.medium'
  VpcName: iatlasvpc
  VpcSubnet: PrivateSubnet
  Environment: prod
  KeyName: 'iatlas-gitlab-runner-prod'
  InstanceName: 'iatlas-api-prod'
