template_path: kms.yaml
stack_name: iatlas-kms-prod
stack_tags:
  Department: {{stack_group_config.department_tag}}
  Project: {{stack_group_config.project_tag}}
  OwnerEmail: {{stack_group_config.owner_email_tag}}
