template:
  path: gitlab-manager-runner.yaml
stack_name: iatlas-gitlab-manager-staging
dependencies:
  - common/iatlasvpc.yaml
  - common/maintenance.yaml
  - staging/iatlas-db.yaml
  - staging/iatlas-runner-s3-bucket.yaml
  - staging/iatlas-runner-roles.yaml
  - staging/iatlas-kms.yaml
stack_tags: {{stack_group_config.stack_tags}}
parameters:
  VpcId: !stack_output_external iatlasvpc::VPCId
  PrivateSubnetIds:
    - !stack_output_external iatlasvpc::PrivateSubnet
    - !stack_output_external iatlasvpc::PrivateSubnet1
    - !stack_output_external iatlasvpc::PrivateSubnet2
  DbHost: !stack_output_external iatlasdb-staging::ClusterEndpoint
  DbPort: !stack_output_external iatlasdb-staging::ClusterPort
  DBAccessSecurityGroupName: !stack_output_external iatlasdb-staging::DBAccessSecurityGroupName
  GitLabRegToken: {{stack_group_config.gitlab_reg_token}}
  GitLabRunnerInstanceType: {{stack_group_config.gitlab_runner_instance_type_staging}}
  GitLabRunnerTag: 'staging'
  ManagerImageId: {{stack_group_config.gitlab_manager_ami_id_staging}}
  CacheBucket: !stack_output_external iatlas-gitlab-s3-bucket-staging::CacheBucket
  ManagerRole: !stack_output_external iatlas-gitlab-roles-staging::ManagerRole
  RunnersRole: !stack_output_external iatlas-gitlab-roles-staging::RunnersRole
