template_path: gitlab-runner.yaml
stack_name: iatlas-gitlab-runner-staging
dependencies:
  - common/iatlasvpc.yaml
  - staging/iatlas-db.yaml
  - staging/iatlas-kms.yaml
stack_tags:
  Department: "CompOnc"
  Project: "iAtlas"
  OwnerEmail: "andrew.lamb@sagebase.org"
parameters:
  InstanceType: "t2.nano"
  VpcName: iatlasvpc
  VpcSubnet: PrivateSubnet
  AMIId: ami-0810a318c4b1243c5 #AWS Linux from https://ami.sageit.org
  Environment: staging
  KeyName: "iatlas-gitlab-runner-staging"
