template:
  path: aurora-postgresql-db.yaml
stack_name: iatlasdb-staging
dependencies:
  - common/iatlasvpc.yaml
  - staging/iatlas-kms.yaml
stack_tags: {{stack_group_config.stack_tags}}
parameters:
  VpcName: iatlasvpc
  KmsKey: !stack_output_external iatlas-kms-staging::KmsKey
  DbSecretPrefix: 'staging_'
  DbCredsName: 'iatlas_db_creds_encrypted_staging'
  DBInstanceClass: 'db.t3.large'
  DBEngineVersion: '12.4'
