template_path: ecs.yaml
stack_name: iatlas-staging
stack_tags: {{stack_group_config.stack_tags}}
dependencies:
  - common/iatlasvpc.yaml
parameters:
  InstanceType: 't3a.medium'
  KeyName: 'iatlas-gitlab-runner-staging'
  # KeyName: 'iatlas-api-staging' # For this to work, this key must be added in the SAGE AWS.
  VpcId: !stack_output_external iatlasvpc::VPCId
  BastionHostSgId: !stack_output_external iatlasvpc::BastianSecurityGroup
  PublicSubnetId:
    - !stack_output_external iatlasvpc::PublicSubnet
    - !stack_output_external iatlasvpc::PublicSubnet1
    - !stack_output_external iatlasvpc::PublicSubnet2
  PrivateSubnetId:
    - !stack_output_external iatlasvpc::PrivateSubnet
    - !stack_output_external iatlasvpc::PrivateSubnet1
    - !stack_output_external iatlasvpc::PrivateSubnet2
  DesiredCapacity: '1'
  MaxSize: '2'
  DockerImageTag: '49bb3ee1-staging'
on_failure: 'DO_NOTHING'
