project_code: 'sage-bionetworks'
profile: {{ var.profile | default('default') }}
region: {{ var.region | default('us-east-1') }}
domain_name: {{ environment_variable.DOMAIN_NAME | default('cri-iatlas.org') }}
sub_domain_name: {{ environment_variable.SUB_DOMAIN_NAME | default('api') }}
domain_name_staging: {{ environment_variable.DOMAIN_NAME_STAGING | default('cri-iatlas.org') }}
sub_domain_name_staging: {{ environment_variable.SUB_DOMAIN_NAME_STAGING | default('api-staging') }}
gitlab_container_pass: {{ environment_variable.GITLAB_CONTAINER_PASS | default('_NOT_REAL_') }}
gitlab_container_user: {{ environment_variable.GITLAB_CONTAINER_USER | default('_WILL_NOT_WORK_') }}
# DO NOT store the token in git.
gitlab_reg_token: {{ environment_variable.GITLAB_REG_TOKEN | default('_NEVER_GONNA_GET_IT_') }}
gitlab_runner_instance_type_prod: 'r5a.2xlarge'
# This should get recommended one:
# aws ssm get-parameters --names /aws/service/ecs/optimized-ami/amazon-linux-2/recommended/image_id --region us-east-1
gitlab_runner_instance_type_staging: 'r5a.2xlarge'
gitlab_manager_ami_id_prod: 'ami-03f8a7b55051ae0d4'
gitlab_manager_ami_id_staging: 'ami-03f8a7b55051ae0d4'
ecs_cluster_name_prod: 'iatlas-prod-EcsCluster'
ecs_service_name_prod: 'iatlas-prod-EcsService'
ecs_cluster_name_staging: 'iatlas-staging-EcsCluster'
ecs_service_name_staging: 'iatlas-staging-EcsService'
aws_infra_templates_root_url: 'https://raw.githubusercontent.com/Sage-Bionetworks/aws-infra'
template_key_prefix: {{ environment_variable.TRAVIS_BRANCH | default('testing') }}
admincentral_cf_bucket: 'bootstrap-awss3cloudformationbucket-19qromfd235z9'
stack_tags:
  Department: 'CompOnc'
  Project: 'iAtlas'
  OwnerEmail: 'andrew.lamb@sagebase.org'
  CostCenter: 'iAtlas 3 / 314900'
