template_path: remote/peer-route-config.yaml
stack_name: peer-vpn-iatlasvpc
dependencies:
  - common/iatlasvpc.yaml
parameters:
  PeeringConnectionId: pcx-0f97213011da78981
  VpcPrivateRouteTable: rtb-03749e8c822352561
  VpcPublicRouteTable: rtb-0707730d3016e2737
  VpnCidr: 10.1.0.0/16
hooks:
  before_launch:
    - !cmd "curl https://s3.amazonaws.com/{{stack_group_config.admincentral_cf_bucket}}/aws-infra/master/peer-route-config.yaml --create-dirs -o templates/remote/peer-route-config.yaml"
