template_path: remote/peer-route-config.yaml
stack_name: peer-vpn-iatlasvpc
dependencies:
  - common/iatlasvpc.yaml
parameters:
  PeeringConnectionId: pcx-0f97213011da78981
  VpcPrivateRouteTable: !stack_output_external iatlasvpc::PrivateRouteTable
  VpcPublicRouteTable: !stack_output_external iatlasvpc::PublicRouteTable
  VpnCidr: !stack_output_external iatlasvpc::VpnCidr
hooks:
  before_launch:
    - !cmd "curl https://s3.amazonaws.com/{{stack_group_config.admincentral_cf_bucket}}/aws-infra/master/peer-route-config.yaml --create-dirs -o templates/remote/peer-route-config.yaml"
